services:
  app:
    image: ghcr.io/doloressalinas/vps-g:latest
    container_name: vps-g-app
    restart: always
    ports:
      - "80:80"
    environment:
      - NODE_ENV=production
      - DB_HOST=db
      - DB_USER=user
      - DB_PASS=password

  db:
    image: postgres:15
    container_name: vps-g-db
    restart: always
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=mydb
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
