name: Deploy a VPS en Azure

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Configurar llave SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519

      - name: Copiar archivos al servidor
        run: |
          rsync -avz --delete \
          -e "ssh -i ~/.ssh/id_ed25519 -p 2922 -o StrictHostKeyChecking=no" \
          ./ \
          ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/home/${{ secrets.SSH_USER }}/app/


      - name: Ejecutar comandos remotos (deploy)
        run: |
          ssh \
            -i ~/.ssh/id_ed25519 \
            -p 2922 \
            -o StrictHostKeyChecking=no \
            ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} \
            "cd /home/${{ secrets.SSH_USER }}/app && docker-compose down && docker-compose up -d --build"

