name: Deploy a VPS en Azure

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Clonar el repositorio
      - name: Checkout repo
        uses: actions/checkout@v3

      # 2. Configurar la llave SSH
      - name: Configurar llave SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519

      # 3. Copiar los archivos al servidor usando rsync
      - name: Copiar archivos al servidor
        run: |
          rsync -avz --delete \
            -e "ssh -i ~/.ssh/id_ed25519 -p 2922 -o StrictHostKeyChecking=no" \
            ./ \
            ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/home/${{ secrets.SSH_USER }}/app/

        # 4. Ejecutar comandos remotos en el VPS
      - name: Ejecutar deploy en VPS
        run: |
          ssh -i ~/.ssh/id_ed25519 -p 2922 -o StrictHostKeyChecking=no ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} \
          "cd /home/${{ secrets.SSH_USER }}/app && \
          export DATABASE_URL='${{ secrets.DATABASE_URL }}' && \
          export K6_CLOUD_TOKEN='${{ secrets.K6_CLOUD_TOKEN }}' && \
          docker-compose down && docker-compose up -d --build"
